<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/Articles")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/bootstrap")
    <style>
        .box {
            display: none;
            width: 100%;
        }

            a:hover + .box, .box:hover {
                display: block;
                position: relative;
                z-index: 100;
            }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("WebShop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Overview", "Index", "Articles")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <img id="shopping-cart" src="http://www.freeiconspng.com/uploads/grocery-cart-icon-6.png" width="40px" height="40px" />
                        <span id="shopping-cart-count">0</span>
                        <div id="shopping-cart-dialog" style="background-color: #eeeeee">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $().ready(function () {

            $.ajax({
                url: '@Url.Action("Count", "ShoppingCart")',
                success: function (data) {
                    $("#shopping-cart-count").html(data);
                }
            });
            $("#shopping-cart").click(function () {
                $("#shopping-cart-dialog").dialog("open");
            });
            bindAddToCart();

            $("#shopping-cart-dialog").dialog({
                autoOpen: false,
                resizable: false,
                title: 'Your Shopping cart',
                modal: true,
                buttons: [
                 {
                     text: "Close",
                     click: function () {
                         $(this).dialog("close");
                     }
                 }, {
                     text: "Checkout",
                     click: function () {
                         $(this).dialog("close");
                         window.location = '@Url.Action("Checkout","ShoppingCart")';
                     }
                 }],
                open: function () {
                    $(this).load('@Url.Action("Index", "ShoppingCart")');
                }
            });
        })
    </script>
</body>
</html>
