@model WebShop.Web.Models.ArticlePagingViewModel
@{
    ViewBag.Title = "Article overview";
}

<h2>Articles list</h2>
<link href="@Url.Content("~/Content/Articles/Index.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $().ready(function () {

        $.ajax({
            url: '@Url.Action("Count", "ShoppingCart")',
            success: function (data) {
                $("#shopping-cart-count").html(data);
            }
        });
        $("#shopping-cart-dialog").dialog({
            autoOpen: false,
            resizable: false,
            title: 'Your Shopping cart',
            modal: true,
            buttons: [
             {
                 text: "Close",
                 click: function() {
                     $(this).dialog("close");
                 }
             },{
                 text: "Checkout",
                 click: function() {
                     $(this).dialog("close");
                     window.location = '@Url.Action("Checkout","ShoppingCart")';
                 }
             }],
            open: function () {
                $(this).load('@Url.Action("Index", "ShoppingCart")');
            }
        });
        $( "#shopping-cart" ).click(function() {
            $("#shopping-cart-dialog").dialog( "open" );
        });
        $(".add-to-cart").click(function () {
            var articleId = $(this).attr('x-article-id');
            $.ajax({
                method : 'POST',
                url: '@Url.Action("AddItem", "ShoppingCart")',
                data: { "id": articleId },
                success: function (data) {
                    $("#shopping-cart-count").html(data);
                }
            });
        });
        $("#next-page").click(function () {
            var page = parseInt($("#page-number").html());
            if (page < @Model.Pages) {
                $.ajax({
                url: '@Url.Action("Articles")',
                data: { "page": page + 1 },
                success: function (data) {
                    $("#product-list").html(data);
                    $("#page-number").html(page + 1);

            }
            });
        }
        });
    $("#previous-page").click(function () {
        var page = parseInt($("#page-number").html());
        if (page > 1)
            $.ajax({
                url: '@Url.Action("Articles")',
                data: { "page": page -1},
                success: function (data) {
                    $("#product-list").html(data);
                    $("#page-number").html(page - 1);
                }
            });
    });
    });
</script>
<div class="container">
    <div id="products" class="row list-group">
        <nav>
            <ul class="pager">
                <li id="previous-page"><a href="#">Previous</a></li>
                <li id="page-number">@this.Model.Page</li>
                <li id="next-page"><a href="#">Next</a></li>
            </ul>
        </nav>
        <div id="product-list">
            @Html.Partial("Articles", Model.Articles)
        </div>
    </div>
</div>


